body{
	background-color: gray;
}

.panel {
	border: 2px solid black;
	opacity: 0.25;
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

.active{
	opacity: 100;
	border: 3px solid navy;
}

#bodyContainer{
	border: 2px dashed black;
	border-radius: 20%;
	background-color: white;
	width: 75%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
}

#panelContainer{
	margin-left: auto;
	margin-right: auto;
}

#panelR{
	background-color: red;
}

#panelY{
	background-color: yellow;
}

#panelG{
	background-color: green;
}

#title{
	text-align: center;
	font-size: 35px;
	font-family: Copperplate;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	color: white;
}
